<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!--
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-221-192-231.compute-1.amazonaws.com:5432/de0kj5el86ud3l?sslmode=require</property>
    <property name="hibernate.connection.username">ezcyjqzvcvtjbt</property>
    <property name="hibernate.connection.password">006e20f80122968f40981848c87a5d24f0548730ef8ffbfc1e3e92b527b6f983</property>
    -->
    
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dbCrud</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">121181</property>
    
    
    <property name="connection.pool_size">1</property>
    <property name="show_sql">true</property>
    <property name="format_sql">false</property>
    <property name="hbm2ddl.auto">update</property>
        
    <mapping class="com.springjson.models.Person"></mapping>
    <mapping class="com.springjson.models.UserSys"></mapping>
  </session-factory>
</hibernate-configuration>

